[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "14.2.0"
importlib-resources = "5.10.0"
ipdb = "0.13.9"
pytest = "7.1.3"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-restful = "*"
werkzeug = "==2.0.3"
flask = "==2.1.3"
flask-sqlalchemy = "==2.5.1"

[requires]
python_full_version = "3.8.13"

[dev-packages]
